// FONT COLORS =============
$white: #ffffff;
$black: #000000;

// MAIN COLORS =============
$venetian_red: #BF0426;
$old_rose: #BF3952;
$free_speech_red: #A60303;
$white_smoke: #F2F2F2;
$black_odd: #0D0D0D;

// TRANSITIONS =============
$transition_small: all .25s ease;